{% extends "base.html" %}
{% load i18n %}

{% block head_title %} {% trans "Contact" %} {% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://res.cloudinary.com/dbjnqkn07/image/upload/v1699354020/healthclub-pp4/pexels-bich-tran-669986_1_hwbku7.jpg"
                        alt="Gym" class="img-fluid">
                    <a>
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h3>{% trans "Contact" %}</h3>
                    <form id="contactForm" class="contact" method="POST" action="{% url 'contact' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button id="sendButton" type="submit" class="btn btn-primary" style="width: 30%">
                            Send
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<script src="https://cdn.emailjs.com/dist/email.min.js"></script>
<script>
    document.getElementById("contactForm").addEventListener("submit", function (event) {
        event.preventDefault(); // Prevent the default form submission

        var templateParams = {
            name_contact: this.elements["name_contact"].value,
            email: this.elements["email"].value,
            contact_message: this.elements["contact_message"].value,
        };

        emailjs.sendForm('service_b8gz1av', 'template_8j0ugds', templateParams)
            .then(function(response) {
                console.log('SUCCESS!', response.status, response.text);
            }, function(error) {
                console.log('FAILED...', error);
            });
    });
</script>